// Colors
$color_main: #4066a5;
$color_main--on-active: #233759;

$color_light: #f2f5fa;

$color_border: #e3e3e4;

$color_text: #6a707b;
$color_text--dark: #131821;

$color_ico: #b2b5ba;

$color_error: #dc3545;


$color_facebook--on-hover: #4267b2;
$color_facebook--on-active: #2f4a80;

$color_instagram--on-hover: #c13584;
$color_instagram--on-active: #8f2762;

$color_twitter--on-hover: #1da1f2;
$color_twitter--on-active: #177fbf;

$color_youtube--on-hover: #f00;
$color_youtube--on-active: #c00;


// Font sizes
$fontsz_clickable: 1.6rem;

$fontsz_title: 3.2rem;
$fontsz_text: 1.6rem;

$fontsz_input: 1.6rem;
$fontsz_shortText: 1.6rem;


// Font families
$fontfam_main: arial, sans-serif;
$fontfam_second: georgia, serif;
